@import url("https://fonts.googleapis.com/css2?family=Potta+One&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.App-header h1 {
  font-size: 4rem;
  font-family: "Alfa Slab One", cursive;
}
.App-header p {
  font-family: "Righteous", cursive;
  color: silver;
}

.container {
  width: 400px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  margin: 5rem;
  border-radius: 1rem;
  background-color: rgba(29,29,29,1) ;
}

.btn {
  margin-bottom: 3.5rem;
}

.value h2 {
  font-family: "Press Start 2P", cursive;
  font-size: 3.5rem;
  color: white;
}
.value h1{
  font-family: "Alfa Slab One", cursive;
  font-size: 2rem;
  color: white;
}

.btn button {
  background-image: linear-gradient(
    to right,
    #403b4a 0%,
    #e7e9bb 51%,
    #403b4a 100%
  );
}
.btn button {
  font-family: "Potta One", cursive;
  margin: 1.5rem 1rem;
  padding: 1rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  border: none;
  text-decoration: none;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  font-size: 0.9rem;
}

.btn button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
